Repository imranbarbhuiya/TagScript, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:website, package:tagscript, plugin:discord

.github/labeler.yml:

apps:website:
    - changed-files:
          - any-glob-to-any-file: apps/website/**

package:tagscript:
    - changed-files:
          - any-glob-to-any-file: packages/tagscript/**

plugin:discord:
    - changed-files:
          - any-glob-to-any-file: packages/tagscript-plugin-discord/**

fix: new fumadocs stuff and md files for ai
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/api/search/route.ts
  apps/website/app/layout.tsx
  apps/website/app/llms.mdx/[[...slugs]]/route.ts
  apps/website/app/llms.txt/route.ts
  apps/website/cli.json
  apps/website/components/page-actions.tsx
  apps/website/components/ui/button.tsx
  apps/website/content/docs/plugins/plugin-discord/parsers/embed.mdx
  apps/website/content/docs/tagscript/parsers/break.mdx
  apps/website/content/docs/tagscript/parsers/if-statement.mdx
  apps/website/content/docs/tagscript/parsers/intersection-statement.mdx
  apps/website/content/docs/tagscript/parsers/union-statement.mdx
  apps/website/content/docs/tagscript/transformers/string.mdx
  apps/website/lib/cn.ts
  apps/website/lib/get-llm-text.ts
  apps/website/lib/source.ts
  apps/website/mdx-components.tsx
  apps/website/next-env.d.ts
  apps/website/next.config.js
  apps/website/package.json
  apps/website/source.config.ts
  packages/tagscript-plugin-discord/package.json
  scripts/generateDocs.mjs
  yarn.lock
Labels: apps:website, plugin:discord

docs: add more docs
  apps/website/content/docs/plugins/plugin-discord/parsers/embed.mdx
  apps/website/content/docs/plugins/plugin-discord/parsers/index.mdx
  apps/website/content/docs/tagscript/parsers/fifty-fifty.mdx
  apps/website/content/docs/tagscript/parsers/index.mdx
  apps/website/content/docs/tagscript/parsers/meta.json
  apps/website/content/docs/tagscript/parsers/random.mdx
  apps/website/content/docs/tagscript/parsers/range.mdx
  apps/website/content/docs/tagscript/parsers/replace.mdx
  apps/website/content/docs/tagscript/parsers/slice.mdx
  apps/website/content/docs/tagscript/parsers/stop.mdx
  apps/website/content/docs/tagscript/transformers/index.mdx
  apps/website/content/docs/tagscript/transformers/integer.mdx
  apps/website/content/docs/tagscript/transformers/meta.json
  apps/website/content/docs/tagscript/transformers/string.mdx
Labels: apps:website

fix: new fumadocs stuff and md files for ai (#606)
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/api/search/route.ts
  apps/website/app/layout.tsx
  apps/website/app/llms.mdx/[[...slugs]]/route.ts
  apps/website/app/llms.txt/route.ts
  apps/website/cli.json
  apps/website/components/page-actions.tsx
  apps/website/components/ui/button.tsx
  apps/website/content/docs/plugins/plugin-discord/parsers/embed.mdx
  apps/website/content/docs/tagscript/parsers/break.mdx
  apps/website/content/docs/tagscript/parsers/if-statement.mdx
  apps/website/content/docs/tagscript/parsers/intersection-statement.mdx
  apps/website/content/docs/tagscript/parsers/union-statement.mdx
  apps/website/content/docs/tagscript/transformers/string.mdx
  apps/website/lib/cn.ts
  apps/website/lib/get-llm-text.ts
  apps/website/lib/source.ts
  apps/website/mdx-components.tsx
  apps/website/next-env.d.ts
  apps/website/next.config.js
  apps/website/package.json
  apps/website/source.config.ts
  packages/tagscript-plugin-discord/package.json
  scripts/generateDocs.mjs
  yarn.lock
Labels: apps:website, plugin:discord

docs: add more docs (#607)
  apps/website/content/docs/plugins/plugin-discord/parsers/embed.mdx
  apps/website/content/docs/plugins/plugin-discord/parsers/index.mdx
  apps/website/content/docs/tagscript/parsers/fifty-fifty.mdx
  apps/website/content/docs/tagscript/parsers/index.mdx
  apps/website/content/docs/tagscript/parsers/meta.json
  apps/website/content/docs/tagscript/parsers/random.mdx
  apps/website/content/docs/tagscript/parsers/range.mdx
  apps/website/content/docs/tagscript/parsers/replace.mdx
  apps/website/content/docs/tagscript/parsers/slice.mdx
  apps/website/content/docs/tagscript/parsers/stop.mdx
  apps/website/content/docs/tagscript/transformers/index.mdx
  apps/website/content/docs/tagscript/transformers/integer.mdx
  apps/website/content/docs/tagscript/transformers/meta.json
  apps/website/content/docs/tagscript/transformers/string.mdx
Labels: apps:website

fix: escase regex
  scripts/generateDocs.mjs
Labels: none

fix: use proper escape
  scripts/generateDocs.mjs
Labels: none

fix: escase regex (#608)
  scripts/generateDocs.mjs
Labels: none

fix: lint and test issues
  packages/tagscript-plugin-discord/tests/Structures/Structures.ts
  packages/tagscript-plugin-discord/tests/Transformer/User.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/GuildMember.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/User.test.ts.snap
  packages/tagscript/src/lib/Utils/Util.ts
Labels: package:tagscript, plugin:discord

fix: lint and test issues (#609)
  packages/tagscript-plugin-discord/tests/Structures/Structures.ts
  packages/tagscript-plugin-discord/tests/Transformer/User.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/GuildMember.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/User.test.ts.snap
  packages/tagscript/src/lib/Utils/Util.ts
Labels: package:tagscript, plugin:discord

chore: bump nextjs
  apps/website/package.json
  yarn.lock
Labels: apps:website

chore: bump deps and migrate
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  apps/website/app/layout.tsx
  apps/website/app/llms.mdx/[[...slugs]]/route.ts
  apps/website/app/proxy.ts
  apps/website/lib/get-llm-text.ts
  apps/website/lib/source.ts
  apps/website/next-env.d.ts
  apps/website/package.json
  apps/website/source.config.ts
  apps/website/tsconfig.json
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

fix: lint & test
  apps/website/lib/source.ts
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/GuildMember.test.ts.snap
Labels: apps:website, plugin:discord

chore: bump deps
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/src/lib/Utils/CommandInteraction.ts
  packages/tagscript-plugin-discord/tests/Structures/Structures.ts
  packages/tagscript-plugin-discord/tests/Transformer/Interaction.test.ts
  packages/tagscript-plugin-discord/tests/Utils/CommandInteraction.test.ts
  yarn.lock
Labels: apps:website, plugin:discord

chore: remove deprecate workflows
  .github/workflows/auto-deprecate.yml
  .github/workflows/deprecate-on-merge.yml
  apps/website/package.json
  package.json
  yarn.lock
Labels: apps:website

chore: bump deps
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

chore: use tsdown
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript-plugin-discord/tsdown.config.ts
  packages/tagscript-plugin-discord/tsup.config.ts
  packages/tagscript/package.json
  packages/tagscript/tsdown.config.ts
  packages/tagscript/tsup.config.ts
  scripts/tsdown.config.ts
  scripts/tsup.config.ts
  yarn.lock
Labels: package:tagscript, plugin:discord
