Repository imranbarbhuiya/TagScript, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:website, package:tagscript, plugin:discord

.github/labeler.yml:

apps:website:
    - apps/website/*
    - apps/website/**/*

package:tagscript:
    - packages/tagscript/*
    - packages/tagscript/**/*

plugin:discord:
    - packages/tagscript-plugin-discord/*
    - packages/tagscript-plugin-discord/**/*

chore(tagscript): release tagscript@1.3.3
  packages/tagscript/package.json
Labels: package:tagscript

chore: fix labels
  .github/labels.yml
  .github/workflows/nextjs-bundle-analysis.yml
  packages/tagscript-plugin-discord/README.md
  packages/tagscript/README.md
  yarn.lock
Labels: package:tagscript, plugin:discord

chore: bump unocss and fix tests
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  unocss.config.ts
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

fix: test coverage
  .github/workflows/continuous-integration.yml
  scripts/vitest.config.ts
Labels: none

chore: bump deps and lint
  .github/husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/src/lib/Transformer/Base.ts
  yarn.lock
Labels: apps:website, plugin:discord

chore: bump semver
  yarn.lock
Labels: none

fix: tsconfig issues
  packages/tagscript-plugin-discord/vitest.config.mts
  packages/tagscript/vitest.config.mts
  scripts/tsconfig.json
  scripts/vitest.config.mts
  tsconfig.base.json
Labels: package:tagscript, plugin:discord

Revert "fix: tsconfig issues"
  packages/tagscript-plugin-discord/vitest.config.ts
  packages/tagscript/vitest.config.ts
  scripts/tsconfig.json
  scripts/vitest.config.ts
  tsconfig.base.json
Labels: package:tagscript, plugin:discord

fix: use cjs
  tsconfig.base.json
Labels: none

chore: dedupe lockfile
  apps/website/.eslintrc.json
  yarn.lock
Labels: apps:website

chore: fix lint
  apps/website/.eslintrc.json
  yarn.lock
Labels: apps:website

chore: fix lint
  apps/website/.eslintrc.json
  yarn.lock
Labels: apps:website

chore: bump deps and dedupe lockfile
  apps/website/package.json
  package.json
  yarn.lock
Labels: apps:website

chore: bump deps and dedupe lockfile (#307)
  apps/website/package.json
  package.json
  yarn.lock
Labels: apps:website

chore: remove plugin
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

chore: use node 20 in ci
  .github/workflows/auto-deprecate.yml
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/deprecate-on-merge.yml
Labels: none

chore: dedupe lockfile
  .gitignore
  yarn.lock
Labels: none

chore: fix build issues
  .vscode/settings.json
  packages/tagscript-plugin-discord/typedoc.json
  packages/tagscript/typedoc.json
  typedoc.json
Labels: package:tagscript, plugin:discord

chore: fix build issues
  .vscode/settings.json
  packages/tagscript-plugin-discord/typedoc.json
  packages/tagscript/typedoc.json
  typedoc.json
Labels: package:tagscript, plugin:discord

chore: dedupe lockfile
  .gitignore
  yarn.lock
Labels: none

fix: lint
  .github/workflows/continuous-integration.yml
  packages/tagscript/src/lib/interfaces/index.ts
  yarn.lock
Labels: package:tagscript

chore: lint
  .eslintrc.json
  .github/workflows/continuous-integration.yml
  apps/website/.eslintrc.json
  apps/website/src/pages/index.mdx
  apps/website/src/pages/tagscript/index.mdx
  apps/website/src/pages/tagscript/parsers.mdx
  apps/website/src/pages/tagscript/parsers/break.mdx
  apps/website/src/pages/tagscript/parsers/if-statement.mdx
  apps/website/src/pages/tagscript/parsers/intersection-statement.mdx
  apps/website/src/pages/tagscript/parsers/union-statement.mdx
  apps/website/src/pages/tagscript/transformers.mdx
  packages/tagscript-plugin-discord/src/lib/Parsers/Embed.ts
  packages/tagscript-plugin-discord/src/lib/Parsers/Format.ts
  packages/tagscript-plugin-discord/src/lib/Utils/CommandInteraction.ts
  packages/tagscript/src/lib/Interpreter/Interpreter.ts
  packages/tagscript/src/lib/Interpreter/Lexer.ts
  packages/tagscript/src/lib/Parsers/Break.ts
  packages/tagscript/src/lib/Parsers/Includes.ts
  packages/tagscript/src/lib/Transformer/Integer.ts
  packages/tagscript/src/lib/Utils/Util.ts
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord
