Repository imranbarbhuiya/TagScript, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:website, package:tagscript, plugin:discord

feat: add toJSON to base classes
  packages/tagscript-plugin-discord/src/lib/Transformer/Base.ts
  packages/tagscript-plugin-discord/src/lib/Transformer/User.ts
  packages/tagscript-plugin-discord/tests/Structures/Structures.ts
  packages/tagscript-plugin-discord/tests/Transformer/Guild.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/GuildMember.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/GuildTextBasedChannel.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/Interaction.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/Role.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/User.test.ts
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/Guild.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/GuildMember.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/GuildTextBasedChannel.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/Interaction.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/Role.test.ts.snap
  packages/tagscript-plugin-discord/tests/Transformer/__snapshots__/User.test.ts.snap
  packages/tagscript-plugin-discord/tsconfig.eslint.json
  packages/tagscript/src/lib/Parsers/Base.ts
  packages/tagscript/tsconfig.eslint.json
  scripts/generateDocs.mjs
Labels: package:tagscript, plugin:discord

docs: fix page title
  package.json
  scripts/generateDocs.mjs
  yarn.lock
Labels: none

chore: migrate to tailwind
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/website/package.json
  apps/website/postcss.config.cjs
  apps/website/src/pages/_app.mdx
  apps/website/src/styles/globals.css
  apps/website/tailwind.config.cjs
  package.json
  tsconfig.eslint.json
  unocss.config.ts
  yarn.lock
Labels: apps:website

feat: add support for nested object keys
  packages/tagscript/src/lib/Transformer/Object.ts
  packages/tagscript/tests/Transformer/Object.test.ts
Labels: package:tagscript

chore(tagscript): release tagscript@1.4.0
  packages/tagscript/CHANGELOG.md
  packages/tagscript/package.json
Labels: package:tagscript

chore(plugin-discord): release @tagscript/plugin-discord@3.1.0
  packages/tagscript-plugin-discord/CHANGELOG.md
  packages/tagscript-plugin-discord/package.json
Labels: plugin:discord

ci: fix build
  apps/website/app/layout.tsx
  apps/website/next.config.js
  scripts/generateDocs.mjs
Labels: apps:website

docs: full screen in phone
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/layout.tsx
  turbo.json
Labels: apps:website

fix: reenable toc and bump deps
  apps/website/app/[[...slugs]]/Edit.tsx
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/globals.css
  apps/website/app/layout.tsx
  apps/website/package.json
  apps/website/tailwind.config.ts
  package.json
  yarn.lock
Labels: apps:website

ci: fix cd
  .github/workflows/continuous-delivery.yml
Labels: none

ci: add publish workflow
  .github/workflows/continuous-delivery.yml
  .github/workflows/publish.yml
  apps/website/package.json
  yarn.lock
Labels: apps:website

docs: fumadocs mdx v10
  apps/website/.map.ts
  apps/website/.source/index.d.ts
  apps/website/.source/index.js
  apps/website/.source/source.config.mjs
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/layout.tsx
  apps/website/app/source.ts
  apps/website/content/docs/index.mdx
  apps/website/mdx-components.tsx
  apps/website/next-env.d.ts
  apps/website/next.config.js
  apps/website/package.json
  apps/website/source.config.ts
  package.json
  packages/tagscript-plugin-discord/package.json
  yarn.lock
Labels: apps:website, plugin:discord

chore: bump deps
  apps/website/package.json
  package.json
  yarn.lock
Labels: apps:website

chore: bump deps (#496)
  apps/website/package.json
  package.json
  yarn.lock
Labels: apps:website

fix: docs import
  .gitignore
  apps/website/.source/index.d.ts
  apps/website/.source/index.js
  apps/website/.source/source.config.mjs
  apps/website/app/api/search/route.ts
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/tests/Structures/Structures.ts
  yarn.lock
Labels: apps:website, plugin:discord

fix: docs import (#498)
  .gitignore
  apps/website/.source/index.d.ts
  apps/website/.source/index.js
  apps/website/.source/source.config.mjs
  apps/website/app/api/search/route.ts
  packages/tagscript-plugin-discord/tests/Structures/Structures.ts
Labels: apps:website, plugin:discord

docs: fix broken links
  scripts/generateDocs.mjs
  yarn.lock
Labels: none

docs: fix broken links (#499)
  scripts/generateDocs.mjs
  yarn.lock
Labels: none

ci: fix deprecate script
  .github/workflows/auto-deprecate.yml
  .github/workflows/deprecate-on-merge.yml
Labels: none

ci: fix deprecate script (#500)
  .github/workflows/auto-deprecate.yml
  .github/workflows/deprecate-on-merge.yml
Labels: none

chore: eslint v9
  .eslintignore
  .eslintrc.json
  .vscode/settings.json
  apps/website/.eslintrc.json
  apps/website/content/docs/index.mdx
  apps/website/eslint.config.js
  apps/website/package.json
  apps/website/tsconfig.eslint.json
  eslint.config.js
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript-plugin-discord/src/index.ts
  packages/tagscript-plugin-discord/src/lib/Transformer/index.ts
  packages/tagscript-plugin-discord/tsconfig.typecheck.json
  packages/tagscript/package.json
  packages/tagscript/src/index.ts
  packages/tagscript/src/lib/Parsers/LooseVars.ts
  packages/tagscript/src/lib/Parsers/StrictVars.ts
  packages/tagscript/tsconfig.typecheck.json
  tsconfig.eslint.json
  turbo.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

chore: fix lint
  apps/website/eslint.config.js
  eslint.config.mjs
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
Labels: apps:website, package:tagscript, plugin:discord

docs: update fumadoc and nextjs
  apps/website/app/[[...slugs]]/Edit.tsx
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/api/og/route.tsx
  apps/website/app/api/search/route.ts
  apps/website/app/index.tsx
  apps/website/app/layout.tsx
  apps/website/app/provider.tsx
  apps/website/app/source.ts
  apps/website/eslint.config.js
  apps/website/next-env.d.ts
  apps/website/next.config.js
  apps/website/package.json
  apps/website/source.config.ts
  apps/website/tailwind.config.ts
  apps/website/tsconfig.json
  package.json
  packages/tagscript-plugin-discord/src/tsconfig.json
  packages/tagscript-plugin-discord/tests/tsconfig.json
  packages/tagscript-plugin-discord/tsconfig.typecheck.json
  packages/tagscript/src/tsconfig.json
  packages/tagscript/tests/tsconfig.json
  packages/tagscript/tsconfig.typecheck.json
  scripts/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

chore: format files
  apps/website/app/[[...slugs]]/Edit.tsx
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/api/og/route.tsx
  apps/website/app/api/search/route.ts
  apps/website/app/index.tsx
  apps/website/app/layout.tsx
  apps/website/app/provider.tsx
  apps/website/app/source.ts
  apps/website/eslint.config.js
  apps/website/next-env.d.ts
  apps/website/next.config.js
  apps/website/source.config.ts
  apps/website/tailwind.config.ts
Labels: apps:website

chore: fix config
  eslint.config.mjs
  scripts/tsup.config.ts
  typedoc.json
Labels: none

chore: fix mdx eslint config
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/api/og/route.tsx
  apps/website/app/layout.tsx
  apps/website/app/provider.tsx
  apps/website/eslint.config.js
  apps/website/package.json
  apps/website/tsconfig.json
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

chore: update lockfile
  apps/website/package.json
Labels: apps:website

fix:update typedoc
  apps/website/app/layout.tsx
  package.json
  packages/tagscript-plugin-discord/typedoc.json
  packages/tagscript/src/lib/interfaces/index.ts
  packages/tagscript/typedoc.json
  scripts/externalConfig.mjs
  typedoc.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

ci: fix linting
  README.md
  packages/tagscript-plugin-discord/README.md
  packages/tagscript/README.md
  packages/tagscript/src/lib/Interpreter/Lexer.ts
Labels: package:tagscript, plugin:discord

chore: bump deps
  apps/website/eslint.config.js
  apps/website/package.json
  package.json
  scripts/generateDocs.mjs
  yarn.lock
Labels: apps:website

chore: fix build
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/next-env.d.ts
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

ci: fix build
  apps/website/app/source.ts
Labels: apps:website

feat: tailwind v4
  .github/workflows/auto-deprecate.yml
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/deprecate-on-merge.yml
  .github/workflows/publish.yml
  apps/website/app/[[...slugs]]/page.tsx
  apps/website/app/globals.css
  apps/website/package.json
  apps/website/postcss.config.cjs
  apps/website/source.config.ts
  apps/website/tailwind.config.ts
  package.json
  yarn.lock
Labels: apps:website

chore: remove resolution
  package.json
Labels: none

docs: update docs site
  apps/website/app/api/search/route.ts
  apps/website/app/globals.css
  apps/website/app/layout.tsx
  apps/website/app/provider.tsx
  apps/website/app/source.ts
  apps/website/package.json
  apps/website/source.config.ts
  package.json
  packages/tagscript-plugin-discord/typedoc.json
  packages/tagscript/typedoc.json
  scripts/externalConfig.mjs
  typedoc.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

fix: remove provider
  apps/website/app/layout.tsx
  apps/website/app/provider.tsx
Labels: apps:website

chore: bump deps
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

chore: bump deps (#604)
  apps/website/package.json
  package.json
  packages/tagscript-plugin-discord/package.json
  packages/tagscript/package.json
  yarn.lock
Labels: apps:website, package:tagscript, plugin:discord

chore: remove commitlint
  .github/husky/commit-msg
  package.json
  yarn.lock
Labels: none

chore: remove commitlint (#605)
  .github/husky/commit-msg
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

apps:website:
    - changed-files:
          - any-glob-to-any-file: apps/website/**

package:tagscript:
    - changed-files:
          - any-glob-to-any-file: packages/tagscript/**

plugin:discord:
    - changed-files:
          - any-glob-to-any-file: packages/tagscript-plugin-discord/**
